################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebGentle BookStore/WebGentle BookStore/bin/Debug/netcoreapp3.1
/WebGentle BookStore/WebGentle BookStore/obj
/WebGentle BookStore/.vs/WebGentle BookStore
